html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.row{
    padding-top: 10px;
    width: 95%;
}

.fullWidth {
   width: 95%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}


li {
  list-style-type: none;
}

.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #ffffff;
  background-color: #ff9000;
  font-size: 24pt
}
.back-to-top i {
  font-size: 60px;
}

#switch {
  color: #44abff;
  font-weight: bold;
}

#onMapControls {
  width: 50px;
  height: 50px;
}

#Title-bar {
    width: 100%;
    height: 140px;
    background-image: url(TitleBG.jpg);
    font-weight: bold;
    font-size: 400%;
    background-position: center;
    color: #fff;
    text-align: center;
    padding-top: 50px;
  }

#Title-bar2 {
  width: 100%;
  background: #ff3d00;
  height: 10px;
}

#panel {
  position: absolute;
  top: 5px;
  left: 50%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
}

/*
Provide the following styles for both ID and class,
where ID represents an actual existing "panel" with
JS bound to its name, and the class is just non-map
content that may already have a different ID with
JS bound to its name.
*/

#panel, .panel {
  font-family: 'Roboto',sans-serif;
  line-height: 30px;
  padding-left: 10px;
}

#panel select, #panel input, .panel select, .panel input {
  font-size: 15px;
}

#panel select, .panel select {
  width: 100%;
}

#panel i, .panel i {
  font-size: 12px;
}

#placespanel {
  height: 250px;
  width: 100%;
  overflow: auto;
  color: #ffffff;
  background: #ff3d00;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;
  font-size: 25px;

}



#map-canvas {
  margin-right: 0px;
  float: right;
  width: 100%;
  height: 600px;
}

#filler {
  height: 30px;
  font-size: 15px;
  color: #ff3d00;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}
#control {
  width: 100%;
  font-size: 14px;
  font-family: 'Roboto',sans-serif;
  display: none;
  padding-left: 5%;
  padding-right: 5%;
}

#start-text-field {
  background: #fff;
  border: none;
  font-weight: bold;
  width: 100%;

}
#slider{

}

#end-text-field {
  background: #fff;
  border: none;
  font-weight: bold;
  width: 100%;
}

#getRoute {
  height: 50px;
  width:  120px;
  font-size: 25px;
  color: #fff;

}
#start-text {
  font-size: 20px;
}
#end-text {
  font-size: 20px;
}

#start {
    border: none;
    font-weight: bold;
    width: 100%;
    font-size: 50px;
    color: #ff3d00;

}

#end {
  border: none;
  font-weight: bold;
  width: 100%;
  font-size: 50px;
  color: #ff3d00;
}

@media print {
  #map-canvas {
    height: 500px;
    margin: 0;

  }
}
